/* GLOBAL */

.Detail {
    margin-right: 10px;
    margin-left: 10px;
}

.detailh2 {
    text-align: center;
    font-size: 1.5em;
    color: #24a198;
}

/* BIO */

.detailBioPhotoName {
    display: flex;
}


.detailnametitle {
    align-self: center;
    text-align: center;
    margin: auto;
    font-size: 1.2em;
}

.detailBio {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.detailBio div p {
    height: auto;
    overflow: auto;
    padding: 10px;
    text-align: justify;
    margin: 10px 0px;
    box-shadow: inset 0px 0px 16px 1px gray;
    border-radius: 5px;
}

.detailPhoto {
    height: auto;
    width: 25vw;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 1px 2px 15px black;
}

/* REFERENCES */

.carousel {
    display: flex;
    /* justify-content: center; */
    overflow: auto;
    box-shadow: inset 0px 0px 16px 9px white;
    white-space: nowrap;
    scrollbar-color: red yellow;
}

.carousel img {
    width: 30vw;
    margin : 10px 10px;
    box-shadow: 1px 2px 15px black;
    border-radius: 10px;
}

.carousel p {
    text-align: center;
    margin-bottom: 10px;
}

.reference {
    scrollbar-color: red yellow;
    z-index: -1;
}

/* SKILLS */

.mainSkills {
    border-radius: 5px;
    border: 2px solid gray;
    padding: 5px;
}

.mainSkills ul {
    display: flex;
    justify-content: space-evenly;
    justify-self: stretch;
    align-items: center;
    flex-direction: row;
}

.mainSkills ul li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #f6c156;
    border: 2px outset gray;
}

.otherSkills {
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid gray;
    padding: 5px;
}

.otherSkills ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.otherSkills ul li {
    list-style: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: #f6c156;
    border: 2px outset gray;
}

#detailskillstjm  {
    font-size: 0.8em;
    margin-bottom: 10px;
}

/* CONTACT */

.detailcontact {
    margin-top: 5px;
    font-size: 0.7em;
}

.Detailcontactemail {
    margin : 10px 0;
    color: #1730ff;
}

.detailcompany {

}

.Detailcontactsiret {

}

/* /////////////////////////////// MEDIA QUERIES 750 PX /////////////////////////////// */

@media screen and (min-width: 750px) {
    /* MEDIA QUERIES BIO */

    .detailnametitle {
        font-size: 1.5em;
        margin: auto;
    }

    .detailBio div p {
        margin: 5vw;
        font-size: 1.1em;
        overflow: auto;
        height: auto;
    }

    .detailPhoto {
        margin-left: 5vw;
        margin-top: 3vw;
    }

    /* REFERENCES */

    .carousel img {
        width: 20vw;
    }

    /* SKILLS */


    .mainSkills ul li {
        padding: 5px 20px;
        font-size:2em;
    }

    .otherSkills {
        padding: 20px;
        justify-content: center;
    }

    .otherSkills ul li {
        padding: 5px 15px;
        font-size:1.5em;
    }


    /* CONTACT */

    .detailcontact ul {
        display: flex;
        justify-content: space-around;
        list-style:none;
        font-size: 2em;
    }

    .Detailcontactemail {
        margin : 10px 0;
        color: #1730ff;
    }

    .detailcompany {

    }

    .Detailcontactsiret {

    }

}




/*
bleu : #1730ff
rose : #f4928f
vert : #24a198
jaune : #f6c156
rouge : #eb483e

*/