/* GLOBAL */

/* .Detail {
  margin-right: 10px;
  margin-left: 10px;
} */

.detailh2 {
  text-align: center;
  font-size: 1.5em;
  border-top: solid 1px black;
  margin-top: 10px;
}

/* BIO */

.detailBioPhotoName {
  display: flex;
}

.detailnametitle {
  align-self: center;
  justify-content: center;
  margin: auto;
}

.detailnametitle h1 {
  margin: auto;
  font-size: 1.5em;
  text-align: center;
}

.detailBio {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}

.detailBio div p {
  height: auto;
  overflow: auto;
  padding: 10px;
  text-align: justify;
  margin: 10px 0;
}

.detailPhoto {
  height: auto;
  width: 25vw;
  padding-left: 10 px;
  margin-top: 10px;
  margin-right: 10px;
}

/* REFERENCES */

.carousel {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.carousel img {
  width: 30vw;
  margin: 10px 10px;
  border: solid 1px black;
}

.carousel p {
  text-align: center;
  margin-bottom: 10px;
}


/* SKILLS */

.detailskills {
  display: flex;
}

.mainSkills {
  width: 50vw;
  height: auto;
}

.mainSkills h3 {
  text-decoration: underline;
}

.mainSkills ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainSkills ul li {
  list-style: none;
  justify-content: flex-start;
}

.otherSkills {
  width: 50vw;
  height: auto;
}

.otherSkills h3 {
  text-decoration: underline;
}

.otherSkills ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.otherSkills ul li {
  list-style: none;
  padding: 5px 10px;
  margin: 5px 5px;
}

#detailskillstjm {
  font-size: 1em;
  margin: 5px 0px 5px 5px;
  text-align: left;
}

.detailskillstjmprice {
  font-weight: bold;
}

/* CONTACT */

.detailcontact {
  font-size: 1em;
  display: flex;
  margin-left: 5px;
  text-align: left;
}

.Detailcontactemail {
  color: var(--blue);
  text-decoration: underline;
}

// .detailcompany {
// }

// .Detailcontactsiret {
// }

/* /////////////////////////////// MEDIA QUERIES 750 PX /////////////////////////////// */

@media screen and (min-width: 750px) {
  /* MEDIA QUERIES BIO */

  .detailnametitle {
    font-size: 1.5em;
    margin: auto;
  }

  .detailBio {
    display: flex;
  }

  .detailBio div p {
    margin: 5vw;
    font-size: 1.1em;
    overflow: auto;
    height: auto;
  }


  .detailPhoto {
    margin-left: 5vw;
    margin-top: 3vw;
  }

  /* REFERENCES */

  .carousel img {
    width: 20vw;
  }

  /* SKILLS */


  .mainSkills ul li {
    padding: 5px 20px;
    font-size: 2em;
  }

  .otherSkills {
    padding: 20px;
    justify-content: center;
  }

  .otherSkills ul li {
    padding: 5px 15px;
    font-size: 1.5em;
  }

  /* CONTACT */

  .detailcontact ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    font-size: 2em;
  }

  // .Detailcontactemail {

  // }

  // .detailcompany {

  // }

  // .Detailcontactsiret {

  // }

}

  //

  // .detailcompany {

  // }

  // .Detailcontactsiret {

  // }
