.carousel {
  display: flex;
  /* justify-content: center; */
  overflow: auto;
  box-shadow: inset 0px 0px 16px 9px white;
  white-space: nowrap;
  scrollbar-color: red yellow;
}

.carousel img {
  width: 30vw;
  margin : 10px 10px;
  box-shadow: 1px 2px 15px black;
  border-radius: 10px;
}

.carousel p {
  text-align: center;
}

.reference {
  scrollbar-color: red yellow;
  z-index: -1;
}