/* GLOBAL */

.Detail {
  margin-right: 10px;
}

/* BIO */

.detailBioPhotoName {
  display: flex;
}

.detailnametitle {
  align-self: center;
  text-align: center;
}

.detailBioPhotoName h1 {
  margin: auto;
}

.detailBio {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.detailBio div p {
  height: 20vh;
  overflow: auto;
  padding: 5px 10px 5px 5px;
  text-align: justify;
  margin: 10px 0px;
  border-top: solid 2px darksalmon;
  border-bottom: solid 2px darksalmon;
  box-shadow: inset 0px 0px 16px 1px gray;
}

.detailPhoto {
  height: 100px;
  width: auto;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 2px 15px black;
}

/* REFERENCES */

.carousel {
  display: flex;
  /* justify-content: center; */
  overflow: auto;
  box-shadow: inset 0px 0px 16px 9px white;
  white-space: nowrap;
  scrollbar-color: red yellow;
}

.carousel img {
  width: 30vw;
  margin : 10px 10px;
  box-shadow: 1px 2px 15px black;
  border-radius: 10px;
}

.carousel p {
  text-align: center;
  margin-bottom: 10px;
}

.reference {
  scrollbar-color: red yellow;
  z-index: -1;
}

/* SKILLS */

.mainSkills {
  border: 2px solid black;
  padding: 5px;
}

.mainSkills ul {
  display: flex;
  justify-content: space-evenly;
  justify-self: stretch;
  align-items: center;
  flex-direction: row;
}

.mainSkills ul li {
  list-style: none;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: darksalmon;
  border: 1px solid black;
}

.otherSkills {  
  margin-top: 10px;
  border: 2px solid black;
  padding: 5px;
}

.otherSkills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.otherSkills ul li {
    list-style: none;
  border-radius: 3px;
  padding: 5px 15px;
  background-color: darksalmon;
  border: 1px solid black;
}

/* Contact */

.detailcontact {
  margin-top: 5px;
  font-size: 0.7em;
}


.Detailcontactemail {
  margin : 5px 0;
  color: #1730ff;
}

.Detailcontactsiret {

}
