.edition {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

h2 {
  text-decoration: underline;
}


.profilpic {
  /* border: 2px solid red; */
  width: 92%;
  margin: auto;
}