.edition {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

h2 {
  text-decoration: underline;
}


.profilpic {
  width: 92%;
  margin: auto;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* MEDIA QUERIES EDITION */

  .edition {
    width: 70%;
    margin: 20px auto;
  }
  #e {
    margin-bottom: 40px;
    border: 2px solid red;
  }
}

 @media screen and (min-width: 1024px) {

  .edition {
    width: 70%;
    margin: 3% auto;
  }
}   