.card:hover {
  transform: scale(1.05);
}

.card {
  flex-direction: column;
  width: auto;
  padding: 50px;
  margin: 5px;
  display: inline-flex;

}


.card, .freelance, .card-header {
  margin: 25px;
  padding: 25px;
}