@font-face {
font-family: 'balooBhaina2Regular';
src: url('../font/BalooBhaina2-Regular.ttf') format('truetype');
}

body {
  background: #eee;
  }

$card-width: 37vw;
$image-size: 100%;
$font-main: 'balooBhaina2Regular', sans-serif;

.freelance2:hover {
  transform: scale(1.09);
}

.freelance2 {
  display: inline-flex;

  .container {

    margin: 20px 10px 20px 10px;

    .card {
      width: $card-width;
      height: 30vh;
      background-color: #24A198;;
      box-shadow: 0 5px 20px #555;

      .card-image {
        width: $image-size;
        position: relative;
        overflow: hidden;
        height: auto;

        img {
          width: $image-size;
          position: relative;
        }

      }

      .card-body {
          text-align: center;
          padding: 10px 20px;
          box-sizing: border-box;

        .card-name {
            font-family: $font-main;

        h4 {
          font-size: 0.9rem;
          margin: 0px;
        }
      } 

        .card-title {
          p {
            font-size: 0.8rem;
            color:white;
            margin: 0;
        }
      }

        .card-name, .card-title {
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
        }

        .card-name, .card-excerpt {
          color:black;
        }
      }
    }
  }
}

/* ******************************************************************* */

@media (min-width: 500px) {

  $card-width: 10vw;
  $image-size: 100%;

  .container {

    .card {
      width: $card-width;
      height: 30vh;

      .card-image {
        width: $image-size;
        position: relative;
        overflow: hidden;
        height: auto;

        img {
          width: $image-size;
          position: relative;
        }

      }

      .card-body {
          text-align: center;
          padding: 10px 20px;
          box-sizing: border-box;

        .card-name {
            font-family: $font-main;

        h4 {
          font-size: 0.9rem;
          margin: 0px;
        }
      } 

        .card-title {
          p {
            font-size: 0.8rem;
            color:white;
            margin: 0;
        }
      }

        .card-name, .card-title {
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
        }

        .card-name, .card-excerpt {
          color:black;
        }
      }
    }
  }
}
