@font-face {
font-family: 'balooBhaina2Regular';
src: url('../font/BalooBhaina2-Regular.ttf') format('truetype');
}

body {
  background: #eee;
  }

$card-size: 37vw;
$image-size: 100%;
$image-height: 100px;
$font-main: 'balooBhaina2Regular', sans-serif;

.freelance2:hover {
  transform: scale(1.09);

}

.freelance2 {
  display: inline-flex;

  .container {

    .card {
      width: $card-size;
      background-color: #24A198;;
      box-shadow: 0 5px 20px #555;

      .card-image {

        position: relative;
        overflow: hidden;

        img {
          width: $image-size;
          position: absolute;
          transform: translate(-50%, 0%);
        }

      }

      .card-body {
          text-align: center;
          padding: 10px 20px;
          box-sizing: border-box;

        .card-name {
            font-family: $font-main;

        h4 {
          font-size: 0.9rem;
          margin: 0px;
        }
      } 

        .card-title {
          p {
            font-size: 0.8rem;
            color:white;
        }
      }

        .card-name, .card-title {
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
        }

        .card-name, .card-excerpt {
          color:black;
        }
      }
    }
  }
}

/* ******************************************************************* */

@media (min-width: 415px) {

  $card-size: 250px;

  .freelance2 {

    .container {

      .card {
      width: $card-size;

      .card-image {

      height: 280px;

      img {
      width: $image-size;

      }

      }

        .card-body {

          .card-name {
            font-family: $font-main;
            h4 {
              font-size: 1rem;
            }  
          }

          .card-title {
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
