.card {
    width: 25vw;
    padding: 60px; 
    margin: 15px;
    display: inline-flex;
      
  }
  
   .card .freelance, .photo {
    display: block;
     
   }
   .card:hover {
    transform: scale(1.05);
    width: 25%

  }