.card {
  /* flex-direction: column; */
  width: 25vw;
  padding: 50px; 
  margin: 15px;
  /* display: flex; */
	
}
.card:hover {
  transform: scale(1.05);
  width: 33%
}

.card, .freelance, .photo, . {
  

}