/* https://www.damienflandrin.fr/blog/post/tutoriel-realiser-une-carte-en-css */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro');

body {
  background: #eee;
  padding: 40px 0;
}

$card-size: 250px;
$image-size: 100%;
$image-height: 100px;

.container {
  display: inline-flex;

}

.card {
  width: $card-size;
  margin: 10px 20px;

  background-color: white;
  box-shadow: 0 5px 20px #555;
  border-radius: 10px;

  &:hover {
    .card-image {
      img {
        width: $image-size+20%;
        filter: grayscale(0);
      }
    }
  }

}

.card-image {

  height: 250px;

  position: relative;
  overflow: hidden;

  img {
    width: $image-size;

    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* filter: grayscale(1); */

    transition-property: filter;
    transition-duration: .3s;
  }

}

.card-body {
  text-align: center;
  padding: 15px 20px;
  box-sizing: border-box;
}

.card-name {
  font-family: 'Source Sans Pro', sans-serif;
}

.card-title, .card-exceprt {
  font-family: 'Source Sans Pro', sans-serif;
}

.card-name, .card-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.card-name, .card-excerpt {
  color: #777;
}