body {
 margin:0px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage {
  border-style: ridge;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  max-width: 1024px;
}

.home .form {
  margin-top: 30px;
  margin-bottom: 60px;
  
}

.home main p {
  text-align: justify;
  margin: 3vh;
  padding-top: 0px;
}

.home .logo {
  margin-top: 10px;
  padding-top: 30px;
}

.paragraphe {
  margin-bottom: 5vh;
  height: auto;
}

h1 {
  color:#1730FF;
  text-align: center;
}

h3 {
  margin:10px;
  letter-spacing: 2px;
}

//////////////          MEDIA QUERIE          /////////////////////////

@media screen and (min-width: 750px) { 

  h3 {
    letter-spacing: 10px;
  }


  .homepage {
    border-style: ridge;
    margin: auto;
    margin-bottom: 10px;
    height: auto;

    
  }

  .paragraphe {
  margin-bottom: 4vh;
  height: auto;

  p {
    font-size: 1.4em;
  }
  }

}
