.Listing {
  background-color: lightgray;
}

.everyFreelanceCards {
  margin: auto;
  display: flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  height: initial;
}