.Listing {
    background-color: lightgray;
   
}
.everyFreelanceCards {
  margin: auto ;
  display: flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.card:hover {
  transform: scale(1.05);
  width: 25%;

}