.references {
  top:200px;
}

#to-do-form input {
  background-color: #3f51b5;
  border: 0;
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder {
  color: var(--white);
}
#to-do-form input:focus {
  outline: none;
}

.prescrition-title {
  font-size: 1.5rem;
}

.uploadbutton{
  background-color: salmon;
}